.contain{
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card {
  width: 150px;
  height: 150px;
  align-items: center;
  font-family: sans-serif;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 1px 20px rgba(0, 0, 0, 0.24);
  margin-top: 10px;
  margin-bottom:10px;
}

.title {
  align-items: center;
  color: white;
  margin-top: 50px;
}
.container{
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.vsc-initialized{
  background-image: url(./image/pokebola3.png);
  background-repeat: repeat;
}